
#slider{
  position: relative;
  margin-bottom: 20px;
  // height: 270px;
  width: 100%;
  

}

  .slider {
    border-radius: 1rem;

    .slider__left {
      padding-left: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 1rem;
      z-index: 1;
  
      h2 {
        color: white;
        font-size: 1.8rem;
      }
      p {
        color: white;
        font-size: 1rem;
      }
      a {
        color: white;
        font-size: 1rem;
        font-weight: 600;
        border: 2px solid white;
        padding: 7px 12px;
        border-radius: 1.5rem;
      }
    }

    .slider__right{
      z-index: 0;
      height: 100%;
      img{
        height: 270px;
      }
    }
  }

      @mixin slide__arrow {
        position: absolute;
        z-index: 1;
        width: 32px;
        background-color: white;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
        color: #1a1a1a;
        cursor: pointer;
        font-size: 1.2rem;  
        height: 32px;
        text-align: center;
        border-radius: 50%;
        line-height: 32px;
      }
      
      .slider__arrow-left {
        @include slide__arrow;
        top: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
      }
      
      .slider__arrow-right {
        @include slide__arrow;
        top: 50%;
        right: 0;
        transform: translate(50%, -50%);
      }
    
  


  .slick-dots.slick-dots-bottom {
    bottom: -1rem;
    justify-content: flex-start;
    padding-left: 20px;
    li {
      margin: 0 16px;
    }
    button {
      border-radius: 12px!important;
      height: 10px!important;
      width: 2.5rem !important;
      background-color: #9aa6af !important;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    .slider__arrow-right {
      @include slide__arrow;
    }
    .slider {
      .slider__right {
        overflow-x: hidden;
      }
    }
  }
  
  @media screen and (max-width: 767px) {
    .slider__left {
      height: 16rem;
      padding: 2rem;
    }
    .slider__arrow-right, .slider__arrow-left {
      display: none;
    }
  }

