.blog {
  .blog-heading {
    display: flex;
    align-items: center;
    font-weight: 900;

    .blog-heading-title {
      width: 70%;

      a {
        color: #000000;
      }
    }

    .blog-heading-view-all {
      width: 30%;
      justify-content: right;
      display: flex;
      align-items: center;
      font-weight: 600;

      a {
        color: #f05123;
      }

      svg {
        width: 20px;
        height: 15px;
        align-items: center;
        margin-left: 4px;
        position: relative;
        top: 2px;
        transition: 0.3s ease;
      }
    }
  }

  .blog-container {
    .blog-container-item {
      display: inline-block;
      width: 25%;
      padding: 0px 12px;
      margin-bottom: 32px;
      flex-wrap: wrap;

      .item-image {
        display: inline-block;
        position: relative;
        width: 100%;
        height: 200px;

        img {
          width: 100%;
          height: 100%;
          max-height: 250px;
          min-height: 160px;
          border-radius: 16px;
        }

        &:hover {
          z-index: 5;
          opacity: 0.8;

          .hoverBtn {
            opacity: 2;
            z-index: 10;
          }
        }

        .hoverBtn {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          opacity: 0;
          transition: opacity 0.3s ease;
          border-radius: 16px;
          background-color: #fff;
          color: #000;
          font-size: 0.8rem;
          font-weight: 600;
        }

        button {
          background-color: #fff;
          color: #000;
          border: none;
          padding: 10px 20px;
          font-size: 16px;
          cursor: pointer;
          transition: background-color 0.3s ease;
        }
      }

      h3 {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-top: 5px;
        font-size: 1rem;
        font-weight: 500;
        color: #292929;
      }

      .item-author {
        display: flex;
        align-items: center;
        color: #292929;
        font-size: 0.9rem;
        margin-top: 5px;
        min-height: 50px;

        img {
          height: 1.6rem;
          width: 1.6rem;
          border-radius: 50%;
        }

        span {
          font-weight: 600;
          padding: 0 10px;
          display: flex;
        }
      }
    }
  }

  @media only screen and (min-width: 1024px) and (max-width: 1113px) {
    .blog-container {
      .blog-container-item {
        width: 33.33333%;
      }
    }
  }

  @media only screen and (max-width: 1023px) {
    .blog-container {
      overflow-x: scroll;
      overflow-y: hidden;
      display: flex;
      min-height: 200px;
      min-width: 200px;

      .blog-container-item {
        display: inline-block;
        width: 100%;
        height: 100%;

        .item-image {
          height: 200px;
        }

        .item-author,
        .hoverBtn {
          display: none;
        }
      }

      hoverBtn:hover {
        opacity: 2;
      }
    }
  }

  @media only screen and (min-width: 740px) and (max-width: 1023px) {
    .item-image {
      width: 35vw;
    }

  }

  @media only screen and (max-width: 739px) {
    .blog-container-item {
      width: 400px !important;

      .item-image {
        width: 100%;
        height: 200px;

      }
    }
  }
}