.freeCourse {
    .heading {
        flex-direction: column;

        .heading-total-student {
            width: 100%;
            font-weight: 250;
            font-size: 1rem;
            color: #82919b;
            text-align: left;
        }

        .heading-title {
            width: 100%;
            display: flex;

            .heading-title-name {
                width: 70%;
                padding: 10px 0;

                a {
                    color: #000000;
                }
            }

            .heading-view-all {
                width: 30%;
                justify-content: right;
                display: flex;
                align-items: center;
                font-weight: 600;

                a {
                    color: #f05123;
                }

                svg {
                    width: 20px;
                    height: 15px;
                    align-items: center;
                    margin-left: 4px;
                    position: relative;
                    top: 2px;
                    transition: .3s ease;
                }
            }
        }
    }

    .freeCourse-container {
        .freeCourse-item {
            display: inline-block;
            width: 25%;
            padding: 0px 12px;
            margin-bottom: 32px;

            .freeCourse-item-image {
                display: inline-block;
                position: relative;
                z-index: 1;

                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 16px;
                }

                &:hover {
                    z-index: 5;
                    opacity: 0.8;

                    .hoverBtn {
                        opacity: 2;
                        z-index: 10;
                    }


                }


                .hoverBtn {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    opacity: 0;
                    transition: opacity 0.3s ease;
                    border-radius: 16px;
                    background-color: #fff;
                    color: #000;
                    font-size: 0.8rem;
                    font-weight: 600;

                }

                button {
                    background-color: #fff;
                    color: #000;
                    border: none;
                    padding: 10px 20px;
                    font-size: 16px;
                    cursor: pointer;
                    transition: background-color 0.3s ease;
                }


            }
        }

        h3 {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-top: 5px;
            font-size: 1rem;
            font-weight: 500;
            color: #292929;
        }

        .freeCourse-item-student {
            display: flex;
            align-items: center;
            color: #666;
            font-size: 0.9rem;
            margin-top: 5px;

            svg {
                height: 1em;
                padding-right: 10px;
            }
        }
    }

    @media only screen and (min-width: 1024px) and (max-width: 1113px) {
        .freeCourse-container {

            .freeCourse-item {
                width: 33.33333%;
                // height: auto;
            }
        }

    }

    @media only screen and (max-width: 1023px) {
        .freeCourse-container {
            overflow-x: scroll;
            overflow-y: hidden;
            display: flex;
            min-height: 200px;
            min-width: 200px;

            .freeCourse-item {
                display: inline-block;
                width: 100%;

                .freeCourse-item-image {
                    width: 35vw;


                }

                .hoverBtn {
                    display: none;
                }
            }
        }
    }

    @media only screen and (max-width: 739px) {
        .freeCourse-container {
            .freeCourse-item {
                width: 100%;

                .freeCourse-item-image {
                    width: 60vw;

                    &:hover {
                        opacity: 1;
                    }
                }

                .freeCourse-item-student {
                    display: none;
                }
            }

        }
    }

}