@import "../../../component/GlobalStyles.scss";
.learning-wrapper{
  // display: flex;
  flex-direction: column;
.learning__intro {
  // width: 45rem;
  h1 {
    font-weight: 700;
    margin-bottom: 1.3rem;
  }
  p {
    font-size: 0.8rem;
    line-height: 1.4;
    max-width: 840px;
  }
}

.learning__content {
  margin-top: 5rem;
  display: flex;
  gap: 2rem;

  .learning__content__card {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    width: 30rem;
    border: 2px solid $border-color;
    border-radius: 16px;
    gap: 1rem;

    p {
      line-height: 1.3rem;
    }
    div:nth-child(1) {
      h2 {
        margin-bottom: 1rem;
      }
      button {
        margin-top: 1.4rem;
        padding: 12px 18px;
        border-radius: 16px;
        border: none;
        background-color: $primary-color;
        a {
          color: $white;
        }
      }
    }

    div:nth-child(2) {
      width: 24rem;
      img {
        border-radius: 50%;
        border: 6px solid $primary-color;
        padding: 8px;
        width: 100%;
      }
    }
  }
}

.learning__community {
  display: flex;
  margin-top: 4rem;
  justify-content: space-between;
  align-items: center;
  div:nth-child(1) {
    width: 28rem;

    h1 {
      font-size: 1.6rem;
      font-weight: 900;
      margin-bottom: 1.5rem;
    }
    button {
      margin-top: 1.5rem;
      padding: 12px 20px;
      border: 2px solid $black;
      border-radius: 16px;
      background-color: transparent;
      a {
        color: $black;
      }
    }
  }
  div:nth-child(2) {
    position: relative;
    width: 30rem;
    img {
      width: 100%;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  #learning {
    margin-left: 1.5rem !important;
  }
  .learning__content {
    .learning__content__card {
      div:nth-child(1) {
        button {
          margin-top: 3rem;
        }
      }
      div:nth-child(2) {
        width: 14rem;
      }
    }
  }
  .learning__community {
    margin-top: 4rem;
  }
}
}
@media screen and (max-width: 767px) {
  #learning {
    margin-left: 1rem !important;
    margin-right: 1.3rem !important;
  }
  .learning__intro {
    width: 100%;
  }

  .learning__content {
    margin-top: 3rem;
    .learning__content__card {
      div:nth-child(1) {
        button {
          width: 100%;
        }
      }
      div:nth-child(2) {
        display: none;
      }
    }
  }

  .learning__community{
    margin-top: 4rem;
    div:nth-child(1) {
      p{
        line-height: 1.3rem;
      }
      button {
        width: 100%;
      }
    }

    div:nth-child(2) {
      display: none;
    }
  }
}
