@import "../../../component/GlobalStyles.scss";

.learning-wrapper {
  display: flex;
  padding-top: 90px;
  .learning__info{
    padding: 0 20px;
  }
  .learning__intro {
    padding-bottom: 30px;
    h1 {
      font-weight: 700;
      margin-bottom: 2rem;
    }

    p {
      font-size: 1rem;
    }
  }

  .learning__community {
    display: flex;
    margin-top: 10rem;
    justify-content: space-between;
    align-items: center;

    div:nth-child(1) {
      width: 28rem;

      h1 {
        margin-bottom: 1.5rem;
      }

      button {
        margin-top: 1.5rem;
        padding: 12px 20px;
        border: 2px solid $black;
        border-radius: 16px;
        background-color: transparent;

        a {
          color: $black;
        }
      }
    }

    div:nth-child(2) {
      position: relative;
      width: 30rem;

      img {
        width: 100%;
      }
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1024px) {
    #learning {
      margin-left: 1.2rem !important;

      .learning__intro {
        margin-bottom: 2rem;
      }

      .learning__community {
        margin-top: 5rem;
      }
    }
  }

  @media screen and (max-width: 767px) {
    #learning {
      margin-left: 1rem !important;
      margin-right: 1.3rem !important;

      .learning__intro {
        margin-bottom: 2rem;

        h1 {
          margin-bottom: 1rem;
        }
      }

      .learning__community {
        margin-top: 4rem;

        div:nth-child(1) {
          p {
            line-height: 1.3rem;
          }

          button {
            width: 100%;
          }
        }

        div:nth-child(2) {
          display: none;
        }
      }
    }
  }

}