.navbar-wrapper {
  display: flex;
  padding: 0 28px;
  height: 66px;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 20;
  border-bottom: 1px solid #e8ebed;
  margin-bottom: 15px;
  width: 100%;
  background-color: #fff;

  .MobileMenu_mobileMenu {
    display: none;
  }

  .navbar-logo {
    height: 53.33px;
    display: flex;
    align-items: center;
    flex: 1 1;

    img {
      margin-right: 10px;
      border-radius: 8px;
      box-sizing: inherit;
      border-style: none;
      flex-shrink: 0;
      height: 38px;
      width: 38px;
      object-fit: contain;
    }
  }

  .navbar-search {
    .navbar-search-input {
      height: 40px;
      width: 420px;
      font-size: 1.4rem;
      box-sizing: inherit;
      align-items: center;
      display: flex;
      justify-content: center;
      border: 2px solid #e8e8e8;
      border-radius: 20px;
      flex: 1 1;
      padding: 0 16px 0 8px;
      transition: border-color 0.2s ease-in-out;
      color: #707070;

      &:focus-within {
        border: 2px solid #757575;
      }

      input {
        padding-left: 10px;
        width: 100%;
        border: none;
        outline: none;
        background: none;

        &:focus-within {
          border-color: rgba(22, 24, 35, 0.2);
        }
      }
    }
  }

  .navbar-search-btn {
    display: none;
  }

  .navbar-login-button {
    display: flex;
    justify-content: flex-end;
    flex: 1 1;
    align-items: center;

    .login-button {
      text-align: right;
      text-decoration: none;
      background-color: #f05123;
      border-radius: 999px;
      color: #fff;
      cursor: pointer;
      font-size: 1rem;
      font-weight: 600;
      padding: 9px 20px;
      margin-right: 10px;

      &:hover {
        background-color: #f86b44;
      }
    }
  }

  /* For tablets: */
  @media only screen and (min-width: 740px) and (max-width: 1023px) {
    .navbar-logo {
      display: none;
    }

    .MobileMenu_mobileMenu {
      display: block;
      width: 17.5px;
      height: 20px;
      margin-right: 30px;
      color: #707070;
    }

    .navbar-search {
      justify-content: center;
      margin: auto;
    }

  }

  /* For desktop: */
  @media only screen and (max-width: 739px) {
    .MobileMenu_mobileMenu {
      display: block;
      width: 17.5px;
      height: 20px;
      margin-right: 30px;
      color: #707070;
    }

    .navbar-logo {
      display: none;
    }

    .navbar-search {
      display: none;
    }

    .navbar-search-btn {
      display: block;
      width: 17.5px;
      height: 20px;
      color: #707070;
      justify-content: center;
      align-items: center;
      text-align: center;
      background-color: #fff;
      // padding-right: 10px;
    }

    .login-button {
      margin:  30px;
    }
  }
}




