@import "../../GlobalStyles.scss";

#footer {
  padding: 68px 0 40px;
  background-color: $footer_bg;
  color: #a9b3bb;

  .footer-wrapper {
    padding: 0 20px;
    flex-direction: column;
    max-width: 1100px;
    display: flex;
    margin: auto;

    .footer__first {
      display: flex;
      justify-content: center;
      gap: 1rem;

      .contact,
      .company {
        width: 25%;
      }

      .about,
      .product,
      .tool {
        width: 16.6667%;
      }

      ul {
        list-style: none;
      }

      div:nth-child(1) {
        div {
          display: flex;
          gap: 1rem;
          align-items: center;
          justify-content: flex-start;
        }

        img {
          border-radius: 8px;
          height: 2.5rem;
        }

        ul {
          text-align: left;
        }
      }

      div {
        h3 {
          text-align: left;
          color: $white;
        }

        ul {
          text-align: left;
          color: $footer_color;

          li {
            margin: 0.8rem 0;

            a {
              color: $footer_color;
            }

            img{
              height: 24px;
              width: 121px;
            }
          }
        }
      }
    }

    .footer__second {
      margin-top: 2rem;

      div:nth-child(1) {
        text-align: left;
        color: $footer_color;
      }

      div:nth-child(2) {
        justify-content: flex-end;
        display: flex;
        gap: 1rem;

        svg {
          width: 2.3rem;
          height: 2.3rem;
        }
      }
    }
  }


  @media only screen and (max-width: 1023px) {
    .footer-wrapper {
      width: 664px;

      .footer__first {
        flex-wrap: wrap;

        .contact {
          width: 100%;
        }

        .company {
          width: 100%;
        }

        .about,
        .product,
        .tool {
          width: 30%;
        }
      }
    }
  }

  @media only screen and (max-width: 739px) {
    .footer-wrapper {
      width: 100%;

      .footer__first {
        flex-wrap: wrap;

        .contact {
          width: 100%;
        }

        .company {
          width: 100%;
        }

        .about,
        .product,
        .tool {
          width: 100%;
        }
      }
    }
  }

}

// .footer_mb {
//   margin-bottom: 1rem;
// }