.sidebar-wrapper {
  // position: fixed;
  width: 96px;
  height: 100%;
  padding-top: 10px;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 0 8px;
  // top: 74px;
  z-index: 8;
  list-style: none;

  .createButton {
    height: 50px;
    width: 50px;
    background-color: #1473e6;
    border-color: #1473e6;
    border-radius: 50%;
    color: #fff;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 1.6rem;
    cursor: pointer;

    svg {
      height: 0.8em;
    }

    :hover {
      height: 1em;
    }
  }

  .sidebar-list {
    padding-top: 20px;
    justify-content: center;
    text-align: center;
    align-items: center;

    .sidebar-itemBtn {
      height: 72px;
      width: 72px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 5px;
      cursor: pointer;


      &:hover {
        background-color: #f5f5f5;
        border-radius: 16px;
      }

      svg {
        height: 20px;
        color: #1a1a1a;
      }

      span {
        color: #1a1a1a;
        font-size: 0.8rem;
        font-weight: 600;
      }
    }

    .sidebar-itemBtn.active {
      background-color: #e8ebed ;
      border-radius: 16px;
    }


  }

}
@media only screen and (max-width: 1023px) {
  .sidebar-wrapper {
    display: none;
  }
}