@import "../../GlobalStyles.scss";

.videos {
  margin-bottom: 30px;
  z-index: 5;

  .videos__title {
    font-weight: 600;
    display: flex;
    justify-content: space-between;

    a:nth-child(1) {
      color: $black;
      font-size: 1.5rem;
      font-weight: 600;
    }

    a:nth-child(2) {
      color: $primary-color;
      font-size: 1rem;
    }
  }



  .videos__list {
    .videos__list__items {
      display: inline-block;
      width: 25%;
      padding: 0px 12px;
      margin-bottom: 32px;
      position: relative;

      .videos__list__items__img {
        display: inline-block;
        overflow: hidden;
        position: relative;

        img {
          border-radius: 16px;
          width: 100%;
          height: 100%;
        }

        &:hover {
          z-index: 5;
          opacity: 0.8;
        }

        .videos__list__items__btn {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          opacity: 0;
          transition: opacity 0.3s ease;
          border-radius: 16px;
          background-color: #fff;
          color: #000;
          font-size: 0.8rem;
          font-weight: 600;

          button {
            color: #000;
            border: none;
            font-weight: 600;
            font-size: 0.8rem;
            transition: background-color 0.3s ease;
          }


        }

        &:hover .videos__list__items__btn {
          top: 50%;
          justify-content: center;
          text-align: center;
          opacity: 2;
          z-index: 2;
        }

        .videos__list__items_icon {
          position: absolute;
          display: flex;
          bottom: 0.5rem;
          width: 100%;
          padding: 1rem;
          justify-content: space-between;
          z-index: 5;
          text-align: center;


          div {
            width: 2.5rem;
            height: 2rem;
            background-color: $white;
            text-align: center;
            line-height: 2.5rem;
            border-radius: 0.5rem;


            span {
              font-size: 1.5rem;
              color: $icon;
            }
          }

          button {
            background-color: transparent;
            color: $white;
            border: 2px solid $white;
            width: 4rem;
            border-radius: 1.5rem;
          }
        }
      }

      h3 {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 1rem;
        font-weight: 500;
        color: #292929;
        margin: 0.6rem 0;
      }

      .videos__list__items__footer {
        display: flex;
        gap: 16px;
        align-items: center;

        span {
          opacity: 0.9;
          color: $icon;
          font-size: 0.85rem;
          padding-right: 5px;

        }
      }

    }
  }

  @media only screen and (min-width: 1024px) and (max-width: 1113px) {
    .videos__list {

      .videos__list__items {
        width: 33.33333%;
      }
    }

  }

  @media only screen and (max-width: 1023px) {
    .videos__list {
      overflow-x: auto;
      overflow-y: hidden;
      display: flex;
      // min-height: 200px;
      // min-width: 200px;


      .videos__list__items {
        width: 100%;
        margin-bottom: 0;
        display: inline-block;
        .videos__list__items__img{
        
          height: 200px;
          width: 35vw;
        }
      }

      .videos__list__items__btn {
        display: none;
      }
    }
  }

  @media only screen and (max-width: 739px) {
    .videos__list {
      .videos__list__items {
        width: 100%;
        // margin-bottom: 0;
        // height: 100%;
        .videos__list__items__img{
          // height: 200px;
          width: 60vw;
          height: 30vw;
          
        }

      }
      .videos__list__items__footer span {
        display: none;
      }
    }
  }

}